{% comment %}
  Example data:
  {
    "entity": {
        "entityType": "paragraph",
        "entityBundle": "collapsible_panel",
        "fieldCollapsiblePanelMulti": false,
        "fieldCollapsiblePanelExpand": false,
        "fieldCollapsiblePanelBordered": false,
        "fieldVaParagraphs": [
            {
                "entity": {
                    "entityId": "391",
                    "entityBundle": "collapsible_panel_item"
                    "fieldTitle": "Will using mental health services at VA put my career at risk?",
                    "fieldWysiwyg": {
                        "processed": "..."
                    }
                }
            }
        }
    }
  }
{% endcomment %}
<div
    data-template="paragraphs/collapsible_panel"
    data-entity-id="{{ entity.entityId }}"
    data-multiselectable="{{ entity.fieldCollapsiblePanelMulti }}"
>
    <va-accordion
        {% if entity.fieldCollapsiblePanelBordered %}
            bordered
        {% endif %}
    >
        {% for accordionItem in entity.fieldVaParagraphs %}
            {% assign item = accordionItem.entity %}
            {% assign id= item.entityId | formatSharableLinkID: item.fieldQuestion   %}
            <va-accordion-item header="{{ item.fieldTitle }}">
                <div
                    id={{id}}
                    data-template="paragraphs/collapsible_panel__panel"
                    data-entity-id="{{ item.entityId }}"
                    data-analytics-faq-text="{{ item.fieldTitle | escape }}"
                >
                    <div id="{{ item.entityBundle }}-{{ item.entityId }}">
                        {% include "src/site/paragraphs/wysiwyg.drupal.liquid" entity = item %}

                        {% for paragraph in item.fieldVaParagraphs %}
                            {%  assign bundleComponent = "src/site/paragraphs/" | append: paragraph.entity.entityBundle | append: ".drupal.liquid" %}
                            {% include {{ bundleComponent }} with entity = paragraph.entity %}
                        {%  endfor %}

                    </div>
                </div>
            </va-accordion-item>
        {% endfor %}
    </va-accordion>
</div>
