{% comment %}
    Example data:
    {
        "entity": {
            "entityType": "paragraph",
            "entityBundle": "downloadable_file",
            "fieldTitle": "Download map",
            "fieldMarkup": null,
            "fieldMedia": {
                "entity": {
                    "entityBundle": "image",
                    "image": {
                        "url": "https://dev.cms.va.gov/sites/default/files/2019-08/UD-sitemap.gif",
                        "alt": "university drive site map",
                        "title": ""
                    }
                }
            }
        }
    }
{% endcomment %}

<div data-template="paragraphs/downloadable_file" data-entity-id="{{ entity.entityId }}" class="vads-u-margin-y--1p5">
    {% if entity.fieldMedia.entity.entityBundle == 'image' %}

        {% assign url = entity.fieldMedia.entity.image.url %}
        <va-link
            download="{{url}}"
            href="{{url}}"
            filetype="{{ fileExt }}"
            text="{{entity.fieldTitle}} ({{url | fileExt | upcase}})"
        ></va-link>
    {% endif %}

    {% if entity.fieldMedia.entity.entityBundle == 'document' %}
        {% assign url = entity.fieldMedia.entity.fieldDocument.entity.url %}
        {% assign extension = url | fileExt %}
        <va-link
            download="{{url | fileDisplayName}}"
            href="{{url}}"
            filetype="{{ externsion }}"
            text="{{entity.fieldTitle}} ({{extension | upcase}})"
        ></va-link>
    {% endif %}

    {% if entity.fieldMedia.entity.entityBundle == 'video' %}
        <va-icon
            class="vads-u-color--link-default"
            icon="youtube"
            size="3"
            ></va-icon>
        <va-link
            href="{{entity.fieldMedia.entity.fieldMediaVideoEmbedField}}"
            text="{{entity.fieldTitle}}"
        ></va-link>
    {% endif %}
</div>

