<!-- Section header -->
<h2 data-template="paragraphs/lists_of_links">{{ entity.fieldSectionHeader }}</h2>

{% assign formattedVaParagraphs = entity.fieldVaParagraphs | formatVaParagraphs %}
  
<!-- R&S landing page should include all categories, none truncated -->
{% if entityUrl.path == "/resources" %}
  <div class="vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row medium-screen:vads-u-flex-wrap--wrap" data-template="paragraphs/lists_of_links">
    <!-- Categories -->
    {% for vaParagraph in formattedVaParagraphs %}
      <div class="vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-l-col--3 medium-screen:vads-u-margin-right--8">
        {% include "src/site/paragraphs/lists_of_links_single_block.drupal.liquid"
          with vaParagraph = vaParagraph
        %}
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row medium-screen:vads-u-flex-wrap--wrap" data-template="paragraphs/lists_of_links">
    <!-- Categories -->
    {% for vaParagraph in formattedVaParagraphs %}
      <div class="vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-l-col--3 medium-screen:vads-u-margin-right--8">
        {% if forloop.index <= 6 %}
          {% include "src/site/paragraphs/lists_of_links_single_block.drupal.liquid"
            with vaParagraph = vaParagraph
          %}
        {% endif %}
      </div>
    {% endfor %}

    <!-- Extra Categories -->
    {% for vaParagraph in formattedVaParagraphs %}
      {% if forloop.index > 6 %}
        <div
          aria-hidden="true"
          class="vads-u-display--none vads-u-flex-direction--column medium-screen:vads-l-col--3 medium-screen:vads-u-margin-right--8"
          data-hidden-lists_of_links-entity-id="{{ entity.entityId }}"
        >
          {% include "src/site/paragraphs/lists_of_links_single_block.drupal.liquid"
            with vaParagraph = vaParagraph
          %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <!-- No "Show all" button on R&S landing pages as all categories will be shown -->
  {% if formattedVaParagraphs.length > 6 %}
    <script nonce="**CSP_NONCE**" type="text/javascript">
      function onShowAllTopics() {
        // Derive the extra paragraphs element.
        var extraParagraphsElements = document.querySelectorAll('[data-hidden-lists_of_links-entity-id="{{ entity.entityId }}"]');

        // Show the remaining categories.
        extraParagraphsElements.forEach(function(extraParagraphsElement) {
          extraParagraphsElement.setAttribute('aria-hidden', 'false');
          extraParagraphsElement.className = extraParagraphsElement.className.replace(/vads-u-display--none/, 'vads-u-display--flex');
        })

        // Derive the show all topics button element.
        var showAllTopicsElement = document.querySelector('[data-show-all-topics-button-lists_of_links-entity-id="{{ entity.entityId }}"]');

        // We don't need the Show all topics button anymore, so hide it.
        showAllTopicsElement.setAttribute('aria-hidden', 'true');
        showAllTopicsElement.className = showAllTopicsElement.className.replace('vads-u-display--flex', 'vads-u-display--none');
      }
    </script>

    <div aria-hidden="false" class="vads-u-display--flex vads-u-justify-content--center vads-u-margin-top--3" data-show-all-topics-button-lists_of_links-entity-id="{{ entity.entityId }}">
      <va-button
        onclick="onShowAllTopics()" 
        text="Show all topics"
        uswds
      ></va-button>
    </div>
  {% endif %}
{% endif %}


