<!-- Section header -->
<h2 data-template="paragraphs/lists_of_links">{{ entity.fieldSectionHeader }}</h2>

{% assign formattedVaParagraphs = entity.fieldVaParagraphs | formatVaParagraphs %}
  
<div class="vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row medium-screen:vads-u-flex-wrap--wrap" data-template="paragraphs/lists_of_links">
  {% for vaParagraph in formattedVaParagraphs %}
    <div class="vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-l-col--3 medium-screen:vads-u-margin-right--8">
      <h3>{{ vaParagraph.entity.fieldSectionHeader }}</h3>
      <ul class="usa-unstyled-list" role="list">
        {% for fieldLink in vaParagraph.entity.fieldLinks %}
          <li class="vads-u-padding-y--1">
            <va-link href="{{ fieldLink.url.path }}" text="{{ fieldLink.title }}"></va-link>
          </li>
        {% endfor %}

        {% if vaParagraph.entity.fieldLink.url.path %}
          <li class="vads-u-padding-y--1">
            <va-link
              active
              href="{{ vaParagraph.entity.fieldLink.url.path }}"
              text="{{ vaParagraph.entity.fieldLink.title }}"
            ></va-link>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endfor %}
</div>
