<div data-template="paragraphs/q_a.collapsible_panel">
  <va-accordion>
    {% assign questions = entity.fieldQuestions %}
    {% assign sectionHeader = entity.fieldSectionHeader %}

    {% for accordionItem in questions %}
        {% assign item = accordionItem.entity %}
        {% assign id= item.entityId %}
      <va-accordion-item header="{{ item.fieldQuestion }}">
        <div
          id={{id}}
          data-template="paragraphs/q_a.collapsible_panel__qa"
          data-entity-id="{{ item.entityId }}"
          data-analytics-faq-section="{{ sectionHeader | escape }}"
          data-analytics-faq-text="{{ item.fieldQuestion | escape }}"
        >
          <div id="{{ item.entityBundle }}-{{ item.entityId }}">
            <div itemprop="acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
              {% for answer in item.fieldAnswer %}
                {%  assign bundleComponent = "src/site/paragraphs/" | append: answer.entity.entityBundle | append: ".drupal.liquid" %}
                {% include {{ bundleComponent }} with entity = answer.entity %}
              {% endfor %}
            </div>

          </div>
        </div>
      </va-accordion-item>
    {% endfor %}
  </va-accordion>
</div>
