{% assign fieldQAs = entity.queryFieldQAs.entities %}
    
    <!-- Optional section header -->
    {% if entity.fieldSectionHeader %}
        <h2>{{ entity.fieldSectionHeader }}</h2>
    {% endif %}

    <!-- Optional QA Group Introduction -->
    {% if entity.fieldRichWysiwyg.processed %}
        {{ entity.fieldRichWysiwyg.processed }}
    {% endif %}

    <div>
    <va-accordion>  
      {% for accordionItem in fieldQAs %}
        {% assign item = accordionItem.entity %}
        {% assign id = item.entityId %}
        <va-accordion-item
          header="{{ item.entityLabel }}"
          id="{{ item.entityLabel | hashReference: 30 }}"
        >
          <div
            id={{ id }}
            data-entity-id="{{ id }}"
          >
            <div id="{{ entity.entitiyBundle }}-{{ id }}">
              {% for answer in item.fieldAnswer %}
                {% assign bundleComponent = "src/site/paragraphs/" | append: answer.entity.entityBundle | append: ".drupal.liquid" %}
                {% include {{ bundleComponent }} with entity = answer.entity %}
              {% endfor %}
            </div>
          </div>
        </va-accordion-item>
      {% endfor %}
    </va-accordion>
  </div>
  







                  
    {% assign fieldSectionHeaderTag = 'h2' %}
    {% if entity.fieldSectionHeader %}
        {% assign fieldSectionHeaderTag = 'h3' %}
    {% endif %}
    {% for fieldQA in fieldQAs %}
        <{{ fieldSectionHeaderTag }}>{{ fieldQA.entityLabel }}</{{ fieldSectionHeaderTag }}>
            {% if fieldQA.fieldAnswer %}
                {% assign fieldAnswer = fieldQA.fieldAnswer %}
                {% assign bundleComponent = "src/site/paragraphs/" | append: fieldAnswer.entity.entityBundle %}
                {% assign bundleComponentWithExtension = bundleComponent | append: ".drupal.liquid" %}
                {% include {{ bundleComponentWithExtension }} with entity = fieldAnswer.entity %}
            {% endif %}
        </ul>
    {% endfor %}
