{% include "src/site/facilities/service_address.drupal.liquid" with
  serviceLocationAddress = single.fieldServiceLocationAddress.entity
  serviceLocationAddressHeaderLevel = serviceLocationSubHeaderLevel
%}

{% comment %}
  single.fieldHours values:
  - 0 = Use facility hours
  - 1 = Do not specify hours
  - 2 = Display specific hours
{% endcomment %}

{% if single.fieldHours != "1" %}
  <h{{ serviceLocationSubHeaderLevel }} data-template="paragraphs/service_location">Hours</h{{ serviceLocationSubHeaderLevel }}>
{% endif %}

{% case single.fieldHours %}
  {% when '2' %}
    {% if single.fieldOfficeHours %}
      {% include "src/site/includes/hours.liquid" with allHours = single.fieldOfficeHours headerType = 'included' %}
    {% endif %}
  {% when '0' %}
    {% if fieldOfficeHours %}
      {% include "src/site/includes/hours.liquid" with allHours = fieldOfficeHours headerType = 'included' %}
    {% endif %}
{% endcase %}

{% if single.fieldAdditionalHoursInfo %}
  <span data-template="paragraphs/service_location"><i>{{ single.fieldAdditionalHoursInfo }}</i></span>
{% endif %}

{% comment %}
  Conditionally display facility phone number
{% endcomment %}

{% if isMentalHealthService and fieldMentalHealthPhone %}
  {% assign serviceLocationMainNumber = fieldMentalHealthPhone %}
{% else %}
  {% assign serviceLocationMainNumber = fieldPhoneNumber %}
{% endif %}

{% if serviceLocationMainNumber and single.fieldUseMainFacilityPhone %}
  {% include "src/site/components/phone-number.drupal.liquid" with
    phoneNumber = serviceLocationMainNumber
    phoneLabel = 'Main Phone'
    phoneHeaderLevel = serviceLocationSubHeaderLevel
    sms = false
    fax = false
    tty = false
  %}
{% endif %}

{% comment %}
  Display each additional phone number provided
{% endcomment %}
{% include "src/site/components/phone.drupal.liquid" with
  numbers = single.fieldPhone
  phoneHeaderLevel = serviceLocationSubHeaderLevel
%}

{% if single.fieldEmailContacts %}
  {% for email in single.fieldEmailContacts %}
    <p class="vads-u-margin-y--1" data-template="paragraphs/service_location">
    {% if email.entity.fieldEmailLabel %}
      <h{{ serviceLocationSubHeaderLevel }}>{{ email.entity.fieldEmailLabel }} </h{{ serviceLocationSubHeaderLevel }}>
    {% endif %}
    <a aria-label="{{ email.entity.fieldEmailAddress }}"
        data-template="paragraphs/service_location"
        href="mailto:{{ email.entity.fieldEmailAddress }}">{{ email.entity.fieldEmailAddress }}
    </a>
  {% endfor %}
{% endif %}
