{% assign serviceLocationAddress = single.fieldServiceLocationAddress.entity %}
{% if serviceLocationAddress.fieldClinicName %}
  {% assign haveLocationName = true %}
{% else %}
  {% assign haveLocationName = false %}
{% endif %}

<div class="vads-u-display--flex vads-u-flex-direction--column">
  {% if serviceLocationAddress.fieldClinicName %}
    <span class="vads-u-margin-bottom--0">
        {{ serviceLocationAddress.fieldClinicName }}
    </span>
  {% endif %}
  {% comment %}
      Always include building, wing, floor, etc.
    {% endcomment %}
  {% if serviceLocationAddress.fieldBuildingNameNumber %}
    <span class="vads-u-margin-bottom--0">
        {{ serviceLocationAddress.fieldBuildingNameNumber }}
      </span>
  {% endif %}
</div>

{% if facility.fieldAddress %}
  {% assign facilityAddress = facility.fieldAddress %}
  <div class="vads-u-display--flex vads-u-flex-direction--column">
    {% if facilityAddress.addressLine1 %}
      <span class="vads-u-margin-bottom--0">
          {{ facilityAddress.addressLine1 }}
        </span>
    {% endif %}
    {% if facilityAddress.addressLine2 %}
      <span class="vads-u-margin-bottom--0">
          {{ facilityAddress.addressLine2 }}
        </span>
    {% endif %}
    {% if facilityAddress.locality and facilityAddress.administrativeArea and facilityAddress.postalCode %}
      <span class="vads-u-margin-bottom--0">
          {{ facilityAddress.locality }}, {{ facilityAddress.administrativeArea}} {{ facilityAddress.postalCode }}
        </span>
    {% endif %}
    <div>
      <a onclick="recordEvent({ event: 'directions-link-click', 'vet-center-facility-name': '{{ facilityAddress.title }}'})"
         href="https://maps.google.com?saddr=Current+Location&amp;daddr={{ facilityAddress.addressLine1 }}, {{ facilityAddress.locality }}, {{ facilityAddress.administrativeArea }} {{ facilityAddress.postalCode }}"
         aria-label="Directions to {{ facilityAddress.title }} on Google Maps">
        Directions on Google Maps
      </a>
    </div>
  </div>
{% endif %}

{% comment %}
  single.fieldHours values:
  - 0 = Use facility hours
  - 1 = Do not specify hours
  - 2 = Display specific hours
{% endcomment %}
{% include "src/site/components/phone.drupal.liquid" with
        numbers = single.fieldPhone
        haveLocationName = haveLocationName
%}

{% case single.fieldHours %}
  {% when '2' %}
    {% if single.fieldOfficeHours %}
      {% include 'src/site/includes/vet_centers/hours.liquid' with
              vetCenterHours = single.fieldOfficeHours
              isSatelliteLocation = true
      %}
    {% endif %}
  {% when '0' %}
    {% if fieldFacilityHours.value %}
      <h5 data-template="paragraphs/service_location">Hours</h5>
      {% include "src/site/paragraphs/service_hours.drupal.liquid" with
              serviceHours = fieldFacilityHours.value
      %}
    {% endif %}
{% endcase %}

{% if single.fieldAdditionalHoursInfo %}
  <span data-template="paragraphs/service_location"><i>{{ single.fieldAdditionalHoursInfo }}</i></span>
{% endif %}

{% if single.fieldEmailContacts %}
  {% for email in single.fieldEmailContacts %}
    <p class="vads-u-margin-y--1" data-template="paragraphs/service_location">
    {% if email.entity.fieldEmailLabel %}
      {% if haveLocationName %}
        <h5>{{ email.entity.fieldEmailLabel }} </h5>
      {% else %}
        <h4 class="force-small-header">{{ email.entity.fieldEmailLabel }} </h4>
      {% endif %}
    {% endif %}
    <a aria-label="{{ email.entity.fieldEmailAddress }}"
        data-template="paragraphs/service_location"
        href="mailto:{{ email.entity.fieldEmailAddress }}">{{ email.entity.fieldEmailAddress }}
    </a>
  {% endfor %}
{% endif %}
