<div class="vads-u-margin-y--2 vads-u-border--1px vads-u-padding-x--2 vads-u-padding-bottom--2">
  {% assign serviceLocationH = serviceLocationSubHeaderLevel %}
  {% if serviceHeader %}
    <h{{serviceLocationH}} class="vads-u-margin-top--2 vads-u-margin-bottom--0">
      {{ serviceHeader }}
    </h{{serviceLocationH}}>
    {% comment %} Because serviceHeader should be lowest h-level of section {% endcomment %}
    {% assign serviceLocationH = serviceLocationH | plus: 1 %}
    {% assign hasPriorParagraph = true %}
  {% endif %}

  {% if serviceDescription %}
    <p
      id="vba-service-body-{{ entityId }}"
      class="vads-u-margin-top--2 vads-u-margin-bottom--0"
    >
      {{ serviceDescription | drupalToVaPath | phoneLinks }}
    </p>
    {% assign hasPriorParagraph = true %}
  {% endif %}


  {% comment %}
    possibly values for fieldOfficeVists
      no
      yes_appointment_only
      yes_first_come_first_served_basis
      yes_with_or_without_appointment
  {% endcomment %}
  {% assign showIconDiv = single.fieldOfficeVisits | shouldShowIconDiv: single.fieldVirtualSupport, fieldReferralRequired  %}
  {% if showIconDiv %}
    <div class="vads-u-padding-top--1">
      {% if single.fieldOfficeVisits and single.fieldOfficeVisits != "no" %}
        <div data-testid="service-location-field-office-visits">
          <p class="vads-u-margin-top--1 vads-u-margin-bottom--0">
            <i class="fas fa-building vads-u-margin-right--0p5" aria-hidden="true"></i>
            {% case single.fieldOfficeVisits %}
              {% when "yes_appointment_only" %}
                Visit our office, by appointment only
              {% when "yes_with_or_without_appointment" %}
                Visit our office, with or without an appointment
              {% when "yes_first_come_first_served_basis" %}
                Visit our office, first come, first served
            {% endcase %}
          </p>
        </div>
      {% endif %}

      {% comment %}
        possibly values for fieldVirtualSupport
          value: 'no'
          value: yes_appointment_only
          value: yes_first_come_first_served_basis
          value: yes_with_or_without_appointment
      {% endcomment %}
      {% if single.fieldVirtualSupport and single.fieldVirtualSupport != "no" %}
        <div data-testid="service-location-virtual-support">
          <p class="vads-u-margin-top--1 vads-u-margin-bottom--0">
            <i class="fas fa-calendar vads-u-margin-right--0p5" aria-hidden="true"></i> Schedule a virtual appointment
          </p>
        </div>
      {% endif %}

      {% assign SL_OMIT_REFERRAL_OR_WALKIN = "not_applicable, unknown, 2" %}

      {% if fieldReferralRequired %}
        {% unless SL_OMIT_REFERRAL_OR_WALKIN contains fieldReferralRequired %}
          <p class="vads-u-margin-top--1 vads-u-margin-bottom-0">
            {% case fieldReferralRequired %}
              {% when "1" %}
                <i class="fas fa-check-circle vads-u-margin-right--0p5" aria-hidden="true"></i> A referral is required
              {% when "0" %}
                <i class="fas fa-times-circle vads-u-margin-right--0p5" aria-hidden="true"></i> A referral is not required
            {% endcase %}
          </p>
        {% endunless %}
      {% endif %}
    </div>
  {% endif %}

  {% if single.fieldVirtualSupport == "yes_appointment_only" or single.fieldVirtualSupport == 'yes_with_or_without_appointment' or single.fieldOfficeVisits == 'yes_appointment_only' or single.fieldOfficeVisits == 'yes_with_or_without_appointment' %}
    <div>
      <h{{serviceLocationH}} class="vads-u-margin-top--2 vads-u-line-height--1" data-testid="service-location-appoinments-header">Appointments</h{{serviceLocationH}} >
      {% if single.fieldApptIntroTextType != 'remove_text' %}
        {% if single.fieldApptIntroTextType == 'customize_text' and single.fieldApptIntroTextCustom != empty  %}
          <p data-testid="service-location-custom-text" class="vads-u-margin-bottom--0">{{ single.fieldApptIntroTextCustom | drupalToVaPath | phoneLinks }}</p>
        {% elsif single.fieldApptIntroTextType == 'use_default_text' %}
          <p data-testid="service-location-default-text" class="vads-u-margin-bottom--0">
            Contact us to schedule, reschedule, or cancel your appointment. If a referral is required,
            you’ll need to contact your primary care provider first.
          </p>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}

  {% comment %} Appointment related phone numbers {% endcomment %}
  {% if single.fieldOtherPhoneNumbers.length > 0 %}
    {% comment %} {% assign phoneForAppointmentH = serviceLocationH | plus: 1 %} {% endcomment %}
    <div class="vads-u-display--flex vads-u-flex-direction--column" data-template="facilities/health_care_local_health_service" data-testid="service-location-show-other-phone-numbers" >
      {% for number in single.fieldOtherPhoneNumbers %}
        {% include "src/site/components/phone-number.drupal.liquid" with
          phoneNumber = number.entity.fieldPhoneNumber
          phoneExtension = number.entity.fieldPhoneExtension
          phoneLabel = number.entity.fieldPhoneLabel
          phoneHeaderLevel = serviceLocationH
        %}
      {% endfor %}
    </div>
  {% endif %}

  {% comment %}
  Conditionally display facility phone number
  {% endcomment %}
  {% if isMentalHealthService and fieldMentalHealthPhone %}
    {% assign serviceLocationMainNumber = fieldMentalHealthPhone %}
  {% else if single.fieldUseFacilityPhoneNumber and fieldPhoneNumber %}
    {% assign serviceLocationMainNumber = fieldPhoneNumber %}
  {% endif %}

  {% if single.fieldOnlineSchedulingAvail == "yes" %}
    <div
      data-testid="service-location-action-link-online"
      class="vads-u-margin-top--2 vads-u-margin-bottom--1"
    >
      <a class="vads-c-action-link--blue" href="/health-care/schedule-view-va-appointments">
        Schedule an appointment online
      </a>
    </div>
  {% endif %}

  {% comment %}
    Conditionally display facility phone number
  {% endcomment %}
  {% if serviceLocationMainNumber %}
    <div data-testid="service-location-main-facility-phone">
      {% include "src/site/components/phone-number.drupal.liquid" with
        phoneNumber = serviceLocationMainNumber
        phoneLabel = 'Main Phone'
        phoneHeaderLevel = serviceLocationH
      %}
    </div>
  {% endif %}

  {% comment %} Includes header for clinic name {% endcomment %}
  {% if single.fieldServiceLocationAddress.entity %}
    {% include "src/site/facilities/service_address.drupal.liquid" with
      serviceLocationAddress = single.fieldServiceLocationAddress.entity
      serviceLocationAddressHeaderLevel = serviceLocationH
    %}
  {% endif %}

  {% comment %}
    Display each additional phone number provided
  {% endcomment %}
  {% include "src/site/components/phone.drupal.liquid" with
    numbers = single.fieldPhone
    phoneHeaderLevel = serviceLocationH
  %}

  {% if single.fieldEmailContacts %}
    {% for email in single.fieldEmailContacts %}
      <p class="vads-u-margin-y--1" data-template="paragraphs/service_location" data-testid="service-location-email-contact">
        {% if email.entity.fieldEmailLabel %}
          <h{{ serviceLocationH }}>{{ email.entity.fieldEmailLabel }}</h{{ serviceLocationH }}>
        {% endif %}
        <a aria-label="{{ email.entity.fieldEmailAddress }}"
            data-template="paragraphs/service_location"
            href="mailto:{{ email.entity.fieldEmailAddress }}">{{ email.entity.fieldEmailAddress }}
        </a>
      </p>
    {% endfor %}
  {% endif %}

  {% comment %}
    single.fieldHours values:
    - 0 = Use facility hours
    - 1 = Do not specify hours
    - 2 = Display specific hours
  {% endcomment %}

  {% if single.fieldHours != "1" %}
    <h{{ serviceLocationH }} data-template="paragraphs/service_location" data-testid="service-location-field-hours">Service Hours</h{{ serviceLocationH }}>
  {% endif %}
  {% if single.fieldHours != empty %}
    <div class="vads-u-margin-bottom--0">
      {% case single.fieldHours %}
        {% when '2' %}
          {% if single.fieldOfficeHours %}
            {% include "src/site/includes/hours.liquid" with allHours = single.fieldOfficeHours headerType = 'included' %}
          {% endif %}
        {% when '0' %}
          <p class="vads-u-margin-y--0" data-testid="service-location-field-hours-same-as-facility" >
            The service hours are the same as our facility hours.
          </p>
      {% endcase %}
    </div>
  {% endif %}
  {% if single.fieldAdditionalHoursInfo %}
    <p class="vads-u-margin-bottom--0">
      <span data-template="paragraphs/service_location"><i>{{ single.fieldAdditionalHoursInfo }}</i></span>
    </p>
  {% endif %}
</div>
