<!-- Derive visible banners. -->
{% assign visibleBanners = banners.entities | deriveVisibleBanners: entityUrl.path %}

<!-- Banners -->
{% for banner in visibleBanners %}
  <va-banner
    data-template="components/banners.drupal.liquid"
    {% if banner.fieldDismissibleOption != 'perm' %}
    show-close="true"
    {% endif %}
    {% if banner.fieldDismissibleOption == 'dismiss-session' %}
    window-session="true"
    {% endif %}
    headline="{{ banner.title }}"
    type="{{ banner.fieldAlertType | formatAlertType }}"
    visible="true"
  >{{ banner.body.processed }}</va-banner>
{% endfor %}

<!-- Maintenance banner -->
<div
  aria-label="Maintenance banner"
  data-widget-type="maintenance-banner"
  role="region"
></div>

<!-- Derive visible promo banners. -->
{% assign visiblePromoBanners = promoBanners.entities | deriveVisibleBanners: entityUrl.path %}

<!-- Promo Banners -->
{% for promoBanner in visiblePromoBanners %}
  <div
    aria-label="{{ promoBanner.title | escape }}"
    data-id="{{ promoBanner.entityId }}"
    data-link="{{ promoBanner.fieldLink.url.path }}"
    data-template="components/banners.drupal.liquid"
    data-title="{{ promoBanner.title | escape }}"
    data-type="{{ promoBanner.fieldPromoType }}"
    data-visible="true"
    data-widget-type="promo-banner"
    role="region"
  ></div>
{% endfor %}
