<!-- Derive visible banners. -->
{% assign visibleBanners = banners.entities | deriveVisibleBanners: entityUrl.path %}

<!-- Banners -->
{% for banner in visibleBanners %}
  <div
    aria-label="{{ banner.title | escape }}"
    data-template="components/banners.drupal.liquid"
    data-content="{{ banner.body.processed | escape }}"
    data-dismissible-status="{{ banner.fieldDismissibleOption }}"
    data-title="{{ banner.title | escape }}"
    data-type="{{ banner.fieldAlertType | formatAlertType }}"
    data-visible="true"
    data-widget-type="banner"
    role="region"
  ></div>
{% endfor %}

<!-- Maintenance banner -->
<div
  aria-label="Maintenance banner"
  data-widget-type="maintenance-banner"
  role="region"
></div>

<!-- Derive visible promo banners. -->
{% assign visiblePromoBanners = promoBanners.entities | deriveVisibleBanners: entityUrl.path %}

<!-- Promo Banners -->
{% for promoBanner in visiblePromoBanners %}
  <div
    aria-label="{{ promoBanner.title | escape }}"
    data-template="components/banners.drupal.liquid"
    data-content="{{ promoBanner.body.processed | escape }}"
    data-dismissible-status="{{ promoBanner.fieldDismissibleOption }}"
    data-title="{{ promoBanner.title | escape }}"
    data-type="{{ promoBanner.fieldAlertType | formatAlertType }}"
    data-visible="true"
    data-widget-type="promo-banner"
    role="region"
  ></div>
{% endfor %}
