{% for entity in bannerAlert.entities %}
  {% assign hideOnSubpages = entity.fieldAlertInheritanceSubpages %}
  {% assign alertType = entity.fieldAlertType %}
  {% if alertType == "information" %}
    {% assign alertType = "info" %}
  {% endif %}
  {% if entityUrl.path %}
    {% assign region = entityUrl.path | regionBasePath | prepend: "/" %}
    {% assign lastArg = entityUrl.path | split: "/" | last | prepend: "/" %}
  {% endif %}
  {% assign outputStatus = false %}
  {% assign emailUpdates = "" %}
  {% assign statusUrl = "" %}
  {% for vamc in entity.fieldBannerAlertVamcs %}
    {% if region == vamc.entity.fieldOffice.entity.entityUrl.path %}
      {% assign outputStatus = true %}
      {% if hideOnSubpages == true and lastArg != region and lastArg != "/operating-status" %}
        {% assign outputStatus = false %}
      {% endif %}
      {% assign emailUpdates = vamc.entity.fieldOffice.entity.fieldLinkFacilityEmergList.uri %}
      {% assign statusUrl = vamc.entity.entityUrl.path %}
    {% endif %}
  {% endfor %}
  {% if outputStatus == true %}
    <div
      data-template="components/fullwidth_banner_alerts"
      data-entity-id="{{ entity.entityId }}"
      aria-labelledby="{{ entity.title }}"
    >
      <va-banner
        type="{{ alertType }}"
        {% if entity.fieldAlertDismissable == "dismiss" %}
        show-close
        {% endif %}
        headline="{{ entity.title }}"
      >
      <div>
        {% capture eventData %}
          {
          "event": "nav-alert-box-link-click",
          "alert-box-status": "{{ alertType }}",
          "alert-box-headline": "{{ entity.title | escape }}",
          "alert-box-headline-level": "3",
          "alert-box-background-only": "false",
          "alert-box-closeable": "false"
          }
        {% endcapture %}
        {{ entity.fieldBody.processed | trackLinks: eventData }}
        {% if entity.fieldAlertOperatingStatusCta == true and statusUrl.length %}
          <p>
            <va-link
              disable-analytics
              href="{{ statusUrl }}"
              onclick="recordEvent({
                'event':'nav-warning-alert-box-content-link-click',
                'alertBoxHeading': '{{ entity.title }}'
              });"
              text="Get updates on affected services and facilities"
            ></va-link>
          </p>
        {% endif %}
        {% if entity.fieldAlertEmailUpdatesButton == true and emailUpdates.length %}
          <p>
            <va-link href="{{ emailUpdates }}" text="Subscribe to email updates"></va-link>
          </p>
        {% endif %}
        {% if entity.fieldAlertFindFacilitiesCta == true %}
          <p>
            <va-link href="/find-locations" text="Find other VA facilities near you"></va-link>
          </p>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}
