<h{{ phoneHeaderLevel }}>{{ phoneLabel | default: 'Phone' }}</h{{ phoneHeaderLevel }}>
<div>
  <va-telephone
    contact="{{ phoneNumber | removeDashes }}"
    extension="{{ phoneExtension | default: '' }}"
  />
</div>
