<h{{ phoneHeaderLevel }}
  {% if phoneNoMarginTop %}
  class="vads-u-margin-top--0"
  {% endif %}
 >
  {{ phoneLabel | default: 'Phone' }}
</h{{ phoneHeaderLevel }}>
<div>
  <va-telephone
    {% if phoneNumberType %}
    {{ phoneNumberType }}
    {% endif %}
    contact="{{ phoneNumber | removeDashes }}"
    extension="{{ phoneExtension | default: '' }}"
    message-aria-describedby="{{ phoneLabel }}" />
  />
</div>
