{% if vaForm.entityUrl.path and vaForm.entityPublished %}
  <a href="{{ vaForm.entityUrl.path }}">
    <h3 class="vads-u-display--inline-block vads-u-text-decoration--underline">VA Form {{ vaForm.fieldVaFormNumber }}</h3>
  </a>
{% else %}
  <h3 class="vads-u-display--inline-block">VA Form {{ vaForm.fieldVaFormNumber }}</h3>
{% endif %}
<p class="vads-u-margin-top--0 vads-u-font-size--h4 vads-u-font-weight--bold">
  <dfn class="vads-u-visibility--screen-reader">Form name:</dfn> {{ vaForm.fieldVaFormName }}
</p>

{{ vaForm.fieldVaFormUsage.processed }}

{% assign showPDFModal = ''| featureFindFormsPDFModal %}

{% if showPDFModal %}
  <div id="{{ vaForm.fieldVaFormNumber }}-download-button-{{ vaForm.fieldVaFormLanguage }}-parent">
    <button
      class="va-button-link vads-u-display--flex vads-u-align-items--center"
      data-widget-type="find-va-forms-pdf-download-helper"
      data-href="{{ vaForm.fieldVaFormUrl.uri }}"
      data-form-number="{{ vaForm.fieldVaFormNumber }}"
      id="{{ vaForm.fieldVaFormNumber }}-download-button-{{ vaForm.fieldVaFormLanguage }}"
      lang="{{ vaForm.fieldVaFormLanguage }}"
    >
      {% assign translatedDownloadText = vaForm.fieldVaFormLanguage | deriveLanguageTranslation: 'downloadVaForm', vaForm.fieldVaFormNumber %}
      <va-icon class="vads-u-margin-right--0p5" icon="file_download" size="3"></va-icon>
      {{ translatedDownloadText }} (PDF)
    </button>
  </div>
{% else %}
  <a
    href="{{ vaForm.fieldVaFormUrl.uri }}"
    download
    data-form-number="{{ vaForm.fieldVaFormNumber }}"
    lang="{{ vaForm.fieldVaFormLanguage }}"
    >
      <va-icon
        class="vads-u-margin-right--0p5"
        icon="file_download"
        size="3"
      ></va-icon>
      {% assign translatedDownloadText = vaForm.fieldVaFormLanguage | deriveLanguageTranslation: 'downloadVaForm', vaForm.fieldVaFormNumber %}
      {{ translatedDownloadText }} (PDF)
  </a>
{% endif %}