<section class="vads-u-padding--2p5
                vads-u-padding-bottom--3
         medium-screen:vads-u-padding-top--6
         medium-screen:vads-u-padding-bottom--9"
         data-e2e="hubs">

  <div class="usa-grid usa-grid-full homepage-benefits-row">
    <h2
      class="vads-u-color--gray-dark vads-u-font-family--serif usa-width-two-thirds vads-u-margin-bottom--3 medium-screen:vads-u-margin-bottom--5">
      Explore VA benefits and health care
    </h2>
    {% if hubs %}
      {% for hub in hubs %}
        {% if hub.url.path and hub.label and hub.entity.fieldLinkSummary and hub.entity.fieldIcon %}
        <div class="usa-width-one-third" data-e2e="hub" data-entity-id="{{ forloop.index }}">
          <h3 class="heading-level-4 vads-u-display--flex vads-u-align-items--center">
            {{ hub.entity.fieldIcon | getHubIcon: '3', 'vads-u-margin-right--1' }}
            <va-link
              disable-analytics
              href="{{ hub.url.path }}"
              onclick="recordEvent({ event: 'nav-linkslist', action: 'Benefit hub - {{ hub.label }}' });"
              text="{{ hub.label }}"
            >
            </va-link>
          </h3>
          <p class="vads-u-margin-top--0">{{ hub.entity.fieldLinkSummary }}</p>
        </div> 
        {% endif %}
        {% comment %} Close this row and open a new one when needed. {% endcomment %}
        {% if hub.endRow and forloop.last != true %}
          </div>
          <div class="usa-grid usa-grid-full homepage-benefits-row">
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</section>
