{% if lastupdate != empty %}
  <p>Last updated: <time datetime="{{lastupdate| date: '%Y-%m-%d'}}">{{ lastupdate | humanizeDate }}</time></p>
    
{% elsif show_git_lastupdate == true %}
  {% if git_lastupdate != empty %}
    <p>Last updated: <time datetime="{{git_lastupdate| date: '%Y-%m-%d'}}">{{ git_lastupdate | humanizeDate }}</time></p>

  {% endif %}  
{% elsif changed != empty %}
  <p>Last updated: <time datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time></p>            
{% else %}
  <p></p>
{% endif %} 