<!-- og:site_name -->
<meta content="VA.gov" property="og:site_name">

<!-- Twitter metatags -->
<meta name="twitter:card" content="Summary">
<meta name="twitter:image" content="{{ hostUrl }}/img/design/logo/va-og-twitter-image.png">
<meta name="twitter:site" content="@DeptVetAffairs">

<!-- Last updated -->
{% if lastupdate %}
  <meta name="DC.Date" content="{{lastupdate| date: '%Y-%m-%d'}}" property="http://purl.org/dc/terms/date">
{% endif %}

<!-- Derive the title. -->
{% assign metaTitle = title | formatTitleTag %}

<!-- og:title + Twitter title metatag -->
{% if metaTitle %}
  <meta property="og:title" content="{{ metaTitle }}">
  <meta name="twitter:title" content="{{ metaTitle }}">
{% else %}
  <meta property="og:title" content="{{ hostUrl }}">
  <meta name="twitter:title" content="{{ hostUrl }}">
{% endif %}

<!-- og:type -->
<meta property="og:type" content="website">

<!-- og:url -->
{% if path %}
  <meta property="og:url" content="{{ hostUrl }}/{{ path }}">
{% endif %}

<!-- Add meta description tags. -->
{% if description %}
  <meta name="description" content="{{ description }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta property="og:description" content="{{ description }}">
{% endif %}

<!-- og:image -->
<meta property="og:image" content="{{ hostUrl }}/img/design/logo/va-og-image.png">

<!-- article:tags -->
{% if tags %}
  {% for tag in tags %}
    <meta property="article:tag" content="{{ tag }}">
  {% endfor %}
{% endif %}

<!-- keywords -->
{% if keywords %}
  <meta name ="keywords" content="{{keywords}}">
{% endif %}

<!-- Title tag -->
{% if title === 'Home' %}
  <title>VA.gov</title>
{% else %}
  <title>{{ metaTitle }}</title>
{% endif %}
