<!-- Blog Promo -->
<div class="vads-u-background-color--primary-darker">
  <div class="vads-l-grid-container vads-u-padding-x--0 homepage-blog">
    <div class="vads-l-row">
      <!-- start first column-->
      <div
        class="vads-l-col--12 vads-u-display--none small-desktop-screen:vads-u-display--block medium-screen:vads-l-col--4">
        <div class="homepage-blog__image">
          {% if fieldImage.entity.image.derivative.url and fieldImage.entity.image.alt %}
            <img class="lazy" src="{{ fieldImage.entity.image.derivative.url }}"
              alt="{{ fieldImage.entity.image.alt }}" />
          {% endif %}
        </div>
      </div>
      <!-- end first column -->

      <!-- start second column -->
      <div class="vads-l-col--12 medium-screen:vads-l-col--8">
        <div
          class="vads-u-padding--2p5 small-desktop-screen:vads-u-padding--6 small-desktop-screen:vads-u-padding-right--0 vads-u-color--white">
          <h2 class="vads-u-font-size--base vads-u-margin-top--0 vads-u-font-weight--normal vads-u-font-family--sans">VA
            NEWS</h2>
          {% if fieldPromoHeadline and fieldLink.url.path %}
            <h3 class="vads-u-font-family--serif vads-u-margin-top--0 vads-u-font-size--xl">
              <a
                onclick="recordEvent({ event: 'homepage-news-promo-title-click', action: 'Homepage News Promo - {{ fieldPromoHeadline }} - Title' })"
                href="{{ fieldLink.url.path }}" class="vads-u-color--white">{{ fieldPromoHeadline }}</a>
            </h3>
          {% endif %}

          <p class="vads-u-padding-right--0 small-desktop-screen:vads-u-padding-right--8
                    vads-u-margin-bottom--3 small-desktop-screen:vads-u-margin-bottom--6">
            {% if fieldPromoText %}
              {{ fieldPromoText }}
            {% endif %}
            {% if fieldLinkLabel and fieldLink.url.path %}
              <a
                onclick="recordEvent({ event: 'homepage-news-promo-click', action: 'Homepage news promo - {{  fieldPromoHeadline }} - CTA' })"
                href="{{ fieldLink.url.path }}" class="vads-u-color--white">
                {{fieldLinkLabel}}
              </a>
            {% endif %}
          </p>

          <div>
            <a
              onclick="recordEvent({ event: 'homepage-news-promo-more-news-click', action: 'Homepage news promo - More VA News' })"
              href="https://news.va.gov/" class="vads-u-color--white">More VA news
              <i class="fas fa-chevron-right vads-u-margin-left--1" role="presentation"></i>
            </a>
          </div>
        </div>
      </div>
      <!-- end second column -->
    </div>
  </div>
</div>
<!-- /Blog promo -->
