<div data-template="includes/social-share" id="va-c-social-share">
  <ul class="usa-unstyled-list" role="list">
    <li class="vads-u-margin-bottom--2p5">
      <!-- Derive most recent date -->
      {% assign now = '' | currentTime %}
      {% assign mostRecentDate = mostRecentDate | deriveMostRecentDate: now %}
      <va-link
        calendar
        data-description="{{ fieldDescription }}"
        data-end="{{ mostRecentDate.endValue }}"
        data-location="{{ fieldAddress.addressLine1 }} {{ fieldAddress.locality }}, {{ fieldAddress.administrativeArea }}"
        data-start="{{ mostRecentDate.value }}"
        data-subject="{{ title }}"
        href="{{ entityUrl.path }}"
        id="add-to-calendar-link"
        text="Add to Calendar"
      />
    </li>

    <li class="vads-u-margin-bottom--2p5">
      <va-link
        class="va-js-share-link"
        href="https://www.facebook.com/sharer/sharer.php?href={{ hostUrl }}{{ entityUrl.path }}"
      >
        <i aria-hidden="true" class="va-c-social-icon fab fa-facebook vads-u-margin-right--0p5" role="presentation"></i>Share on Facebook
      </va-link>
    </li>

    <li>
      <va-link
        class="va-js-share-link"
        href="https://twitter.com/intent/tweet?text={{ title }}&url={{ hostUrl }}{{ entityUrl.path }}"
      >
        <i aria-hidden="true" class="va-c-social-icon fab fa-twitter vads-u-margin-right--0p5" role="presentation"></i>Share on Twitter
      </va-link>
    </li>
  </ul>
</div>
