{% assign alertType = alert.fieldAlertType %}

{% if alertType = "information" %}
  {% assign alertType = "info" %}
{% endif %}

{% if isPreview or alert.entityPublished %}
    {% if alert.fieldAlertContent.entity.fieldTextExpander %}
      <va-alert-expandable status="{{ alertType }}" trigger="{{alert.fieldAlertTitle }}" data-template="blocks/alert" data-entity-id="{{ alert.entityId }}" class="vads-u-margin-top--3" role="alert">
        {{ alert.fieldAlertContent.entity.fieldWysiwyg.processed }}
      </va-alert-expandable>
    {% elsif alert.fieldAlertContent.entity.fieldTextExpander == empty %}
      <va-alert data-template="blocks/alert" data-entity-id="{{ alert.entityId }}" status="{{ alertType }}" class="vads-u-margin-top--3" role="alert">
        <h2 slot="headline" class="vads-u-font-size--h3">
          {{ alert.fieldAlertTitle }}
        </h2>
        {{ alert.fieldAlertContent.entity.fieldWysiwyg.processed }}
      </va-alert>
    {% endif %}
{% endif %}
