<va-card class="vads-u-flex--fill vads-u-margin-bottom--0 medium-screen:vads-u-margin-bottom--2">
    {% if entity.fieldSectionHeader != empty %}
        <h3 class="vads-u-margin-top--0">{{ entity.fieldSectionHeader }}</h3>
    {% endif %}
    {% if entity.fieldDescription %}
        <div id="featured-content-description{{ entity.fieldSectionHeader }}}}">
            {{ entity.fieldDescription.processed | drupalToVaPath | phoneLinks }}
        </div>
    {% endif %}
    {% if entity.fieldCta.entity.fieldButtonLink.url.path %}
        <p class="vads-u-padding-top--1">
            <va-link 
                href="{{ entity.fieldCta.entity.fieldButtonLink.url.path }}" 
                text="{{ entity.fieldCta.entity.fieldButtonLabel }}" 
            ></va-link>
        </p>
    {% endif %}
</va-card>
