{% include "src/site/includes/header.html" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with deriveBreadcrumbsFromUrl = true replaceLastItem = true %}

<div
  class="interior"
  id="content"
  data-template="layouts/event.drupal.liquid">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% unless entityUrl.path contains "/outreach-and-events" %}
        {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
      {% endunless %}

      <div class="vads-u-display--flex vads-u-flex-direction--column vads-u-padding-x--1p5 large-screen:vads-u-padding-x--0 vads-u-padding-bottom--2">
        {% include "src/site/includes/lovell-switch-link.drupal.liquid" with
         entityUrl = entityUrl %}

        <!-- Title -->
        <h1>{{ title }}</h1>

        <!-- Event image -->
        {% if fieldMedia %}
          <img
            alt="{{ fieldMedia.entity.image.alt }}"
            class="event-detail-img vads-u-margin-bottom--3 medium-screen:vads-u-margin-bottom--4"
            src="{{ fieldMedia.entity.image.derivative.url }}" />
        {% endif %}

        <!-- Intro text -->
        {% if fieldDescription %}
          <p class="va-introtext vads-u-margin-top--0">
            {{ fieldDescription }}
          </p>
        {% endif %}

        <div class="vads-u-display--flex vads-u-flex-direction--column">
          <div class="vads-u-display--flex vads-u-flex-direction--column vads-u-flex--1">
            <!-- When -->
            <div class="vads-u-display--flex vads-u-flex-direction--row vads-u-margin-bottom--1">
              <p class="vads-u-margin--0 vads-u-margin-right--0p5">
                <strong>When:</strong>
              </p>

              <div class="vads-u-display--flex vads-u-flex-direction--column">
                <!-- Derive most recent date -->
                {% assign now = '' | currentTime %}
                {% assign mostRecentDate = fieldDatetimeRangeTimezone | deriveMostRecentDate: now %}

                <!-- Starts at + ends at -->
                <p class="vads-u-margin--0">
                  {{ mostRecentDate | deriveFormattedTimestamp }}
                </p>

                {% if fieldDatetimeRangeTimezone.length > 1 %}
                  <!-- Repeats -->
                  <p class="vads-u-margin--0">
                    <va-icon
                      icon="autorenew" 
                      size="3"
                    /></va-icon>
                    Repeats
                  </p>
                {% endif %}
              </div>
            </div>

            <!-- Where -->
            {% if fieldFacilityLocation or fieldAddress.addressLine1 or fieldLocationType == "online" %}
              <div class="vads-u-display--flex vads-u-flex-direction--row vads-u-margin-bottom--1">
                <p class="vads-u-margin--0 vads-u-margin-right--0p5">
                  <strong>Where:</strong>
                </p>

                {% if fieldFacilityLocation %}
                  {% assign fieldFacilityAddress = fieldFacilityLocation.entity.fieldAddress %}
                  <div class="vads-u-display--flex vads-u-flex-direction--column">
                    <p class="vads-u-margin--0">
                      <va-link
                        href="{{ fieldFacilityLocation.entity.entityUrl.path }}"
                        text="{{ fieldFacilityLocation.entity.title }}"
                      />
                    </p>
                    <p class="vads-u-margin--0">{{ fieldLocationHumanreadable }}</p>
                    {% if fieldFacilityAddress.addressLine1 != empty %}
                      <p class="vads-u-margin--0">{{ fieldFacilityAddress.addressLine1 }}</p>
                    {% endif %}
                    {% if fieldFacilityAddress.addressLine2 != empty %}
                      <p class="vads-u-margin--0">{{ fieldFacilityAddress.addressLine2 }}</p>
                    {% endif %}

                    <p class="vads-u-margin--0">
                      {% if fieldFacilityAddress.locality != empty %}
                        {{ fieldFacilityAddress.locality | strip }},
                      {% endif %}

                      {% if fieldFacilityAddress.administrativeArea != empty %}
                        {{ fieldFacilityAddress.administrativeArea }}
                      {% endif %}
                    </p>
                    {% if fieldFacilityAddress.addressLine1 %}
                      {% capture fullAddress %}
                        {{ fieldFacilityAddress.addressLine1 }}, {{ fieldFacilityAddress.locality }}, {{ fieldFacilityAddress.administrativeArea }} {{ fieldFacilityAddress.postalCode }}
                      {% endcapture %}
                      {% include "src/site/includes/directions-google-maps.liquid" with
                       directionsLinkTitle = fieldFacilityLocation.entity.title
                       directionsLinkAddress = fullAddress
                       directionsLinkOnClickPropName = "vet-center-facility-name"
                       directionsLinkOnClickPropValue = fieldFacilityLocation.entity.title %}
                    {% endif %}
                  </div>

                {% elsif fieldLocationType == "online" %}
                  <p class="vads-u-margin--0 vads-u-margin-bottom--2">
                    {% if fieldUrlOfAnOnlineEvent %}
                      <va-link href="{{ fieldUrlOfAnOnlineEvent.uri }}" text="This is an online event." />
                    {% else %}
                      This is an online event.
                    {% endif %}
                  </p>
                {% else %}

                  <div class="vads-u-display--flex vads-u-flex-direction--column">
                    {% if fieldLocationHumanreadable != empty %}
                      <p class="vads-u-margin--0">{{ fieldLocationHumanreadable }}</p>
                    {% endif %}
                    {% if fieldAddress.addressLine1 %}
                      <p class="vads-u-margin--0">{{ fieldAddress.addressLine1 }}</p>
                    {% endif %}

                    {% if fieldAddress.addressLine2 %}
                      <p class="vads-u-margin--0">{{ fieldAddress.addressLine2 }}</p>
                    {% endif %}

                    <p class="vads-u-margin--0">
                      {% if fieldAddress.locality %}
                        {{ fieldAddress.locality | strip }},
                      {% endif %}

                      {% if fieldAddress.administrativeArea %}
                        {{ fieldAddress.administrativeArea }}
                      {% endif %}
                    </p>
                    {% if fieldAddress.addressLine1 %}
                      {% capture fullAddress %}
                        {{ fieldAddress.addressLine1 }}, {{ fieldAddress.locality }}, {{ fieldAddress.administrativeArea }} {{ fieldAddress.postalCode }}
                      {% endcapture %}
                      {% include "src/site/includes/directions-google-maps.liquid" with
                       directionsLinkTitle = fieldLocationHumanreadable
                       directionsLinkAddress = fullAddress
                       directionsLinkOnClickPropName = "facility-name"
                       directionsLinkOnClickPropValue = fieldLocationHumanreadable %}
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>

          <!-- Cost -->
          {% if fieldEventCost %}
            <div class="vads-u-display--flex vads-u-flex-direction--row vads-u-margin-bottom--1">
              <p class="vads-u-margin--0 vads-u-margin-right--0p5">
                <strong>Cost:</strong>
              </p>

              <p class="vads-u-margin--0">
                {{ fieldEventCost }}
              </p>
            </div>
          {% endif %}

          <!-- Registration / Apply / RSVP required -->
          {% if fieldEventRegistrationrequired %}
            <div class="vads-u-display--flex vads-u-flex-direction--row vads-u-margin-bottom--3">
              {% if fieldEventCta %}
                <p class="vads-u-margin--0 vads-u-margin-right--0p5">
                  {% if fieldEventCta == 'register' %}
                    <strong>Registration:</strong>
                  {% elsif fieldEventCta == 'apply' %}
                    <strong>Application:</strong>
                  {% elsif fieldEventCta == 'rsvp' %}
                    <strong>RSVP:</strong>
                  {% endif %}
                </p>
                {% if fieldEventCta != 'more_details' %}
                  <p class="vads-u-margin--0">
                    Required
                  </p>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}


          <!-- Social links -->
          <div class="vads-u-display--flex vads-u-flex-direction--column vads-u-flex--1">
            {% include "src/site/includes/social-share.drupal.liquid" %}
          </div>
        </div>

        <!-- CTA -->
        {% if fieldLink or fieldEventCta or fieldAdditionalInformationAbo %}
          <div class="registration vads-u-margin-top--4 vads-u-margin-bottom--1 vads-u-padding-x--1p5 medium-screen:vads-u-padding--0">
            {% if start_timestamp < current_timestamp %}
              <p class="vads-u-margin--0 vads-u-color--secondary vads-u-font-weight--bold">This event already happened.</p>
            {% else %}
              {% if fieldLink %}
                <p class="vads-u-margin--0">
                  <a class="vads-c-action-link--green" href="{{ fieldLink.url.path }}">
                    {% if fieldEventCta %}
                      {% if fieldEventCta == 'rsvp' %}
                        RSVP
                      {% else %}
                        {{ fieldEventCta | removeUnderscores | capitalize }}
                      {% endif %}
                    {% else %}
                      More details
                    {% endif %}
                  </a>
                </p>
              {% endif %}
              {% if fieldHowToSignUp == 'email' %}
                {% assign now = '' | currentTime %}
                {% assign mostRecentDate = fieldDatetimeRangeTimezone | deriveMostRecentDate: now %}   
                <p class="vads-u-margin--0">
                  <a class="vads-c-action-link--green" href="mailto:{{ fieldCtaEmail }}?subject=RSVP for {{ title }} on {{ mostRecentDate | deriveFormattedTimestamp }}&body=I would like to register for {{title}} on {{ mostRecentDate | deriveFormattedTimestamp }}. (https://va.gov{{entityUrl.path}}) ">
                    {% if fieldEventCta %}
                      {% if fieldEventCta == 'rsvp' %}
                        RSVP
                      {% else %}
                        {{ fieldEventCta | removeUnderscores | capitalize }}
                      {% endif %}
                    {% endif %}
                  </a>
                </p>
              {% endif %}

              {% if fieldAdditionalInformationAbo.processed %}
                {{ fieldAdditionalInformationAbo.processed | phoneLinks }}
              {% endif %}
            {% endif %}
          </div>
        {% endif %}

        <!-- Description -->
        {% if fieldBody.processed %}
          {{ fieldBody.processed }}
        {% endif %}

        <!-- Repeating event instances -->
        {% if fieldDatetimeRangeTimezone.length > 1 %}
          <va-accordion open-single id="expand-recurring-events">
            <va-accordion-item
              header="View other times for this event"
              bordered
            >
              <!-- Recurring events list. -->
              {% for recurringEventDatetimeRangeTimezone in fieldDatetimeRangeTimezone %}
                <div class="recurring-event {% if forloop.index > 6 %}vads-u-display--none{% endif %} vads-u-margin-bottom--2">
                  <p class="vads-u-margin--0">
                    {{ recurringEventDatetimeRangeTimezone | deriveFormattedTimestamp }}
                  </p>
                  <va-link
                    calendar
                    class="recurrent-event "
                    data-description="{{ fieldDescription }}"
                    data-end="{{ recurringEventDatetimeRangeTimezone.endValue }}"
                    data-location="{{ fieldAddress.addressLine1 }} {{ fieldAddress.locality }}, {{ fieldAddress.administrativeArea }}"
                    data-start="{{ recurringEventDatetimeRangeTimezone.value }}"
                    data-subject="{{ title }}"
                    href="{{ entityUrl.path }}"
                    text="Add to Calendar"
                  />
                </div>
              {% endfor %}

              <!-- Show all recurring events. -->
              {% if fieldDatetimeRangeTimezone.length > 6 %}
                <div class="vads-u-display--flex vads-u-flex-direction--row vads-u-justify-content--flex-end vads-u-width--full medium-screen:vads-u-width--auto">
                  <va-button
                    id="show-all-recurring-events"
                    secondary
                    text="Show all times"
                  />
                </div>
              {% endif %}
            </va-accordion-item>
          </va-accordion>
        {% endif %}
        
        {% assign vamcLocation = fieldListing.entity.fieldOffice.entity.title %}

        <!-- See more events for VAMC only -->
        {% if fieldAdministration.entity.entityId != '7' %}
          <va-link
            active
            href="{{ fieldListing.entity.entityUrl.path }}"
            onclick="recordEvent({ event: 'nav-secondary-button-click' });"
            text="Want to see more events offered at {{ vamcLocation }}?"
          ></va-link>
        {% endif %}

        <!-- See more nationwide events -->
          <va-link
            active
            class="vads-u-padding-bottom--3 vads-u-margin-top--2 vads-u-display--block"
            href="/outreach-and-events/events/"
            text="Want to see more events offered by the VA across the country?"
          ></va-link>
        {% endif %}

        <!-- Last updated & feedback button-->
        {% include "src/site/includes/above-footer-elements.drupal.liquid" %}
      </div>
    </div>
  </main>
</div>

<script nonce="**CSP_NONCE**" type="text/javascript">
  function onShowAllRecurringEventsClick() {
    // Derive recurring event items.
    var recurringEventItems = document.querySelectorAll('.recurring-event');
    // Show all recurring events.
    for (var index = 0; index < recurringEventItems.length; index++) {
      if (recurringEventItems[index]) {
        recurringEventItems[index].classList.remove('vads-u-display--none');
      }
    }
    // Hide the show all recurring events button.
    var showAllRecurringEventsButton = document.getElementById('show-all-recurring-events');
    // Hide the button if we find it.
    if (showAllRecurringEventsButton) {
      showAllRecurringEventsButton.classList.add('vads-u-display--none');
    }
  }

  var showAllRecurringEventsButton = document.getElementById('show-all-recurring-events');

  if (showAllRecurringEventsButton) {
    showAllRecurringEventsButton.addEventListener('click', onShowAllRecurringEventsClick);
  }
</script>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}