{% include "src/site/includes/header.html" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true %}

<div id="content" class="interior">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
      <div class="usa-width-three-fourths">
        <article class="usa-content">
          {% include "src/site/includes/lovell-switch-link.drupal.liquid" with
            entityUrl = entityUrl
          %}

          <h1>{{ title }}</h1>
          {% assign image = fieldMedia.entity.image %}

          <div
            class="duotone darken lighten medium-screen:vads-u-margin-bottom--0p5">
            <img src="{{ image.derivative.url }}" aria-hidden="true" role="presentation" alt="" width="100%">
          </div>

          <div
            class="usa-grid usa-grid-full vads-u-margin-top--0 vads-u-margin-bottom--3">
            {% assign basePath = entityUrl.path | regionBasePath %}
            {% include "src/site/facilities/main_buttons.drupal.liquid" with path = basePath %}
          </div>

          {% if fieldIntroText != empty %}
          <div class="va-introtext">
            <p class="vads-u-margin-bottom--0">{{ fieldIntroText }}</p>
          </div>
          {% endif %}

          <section>
            <h2
              class="vads-u-font-size--xl vads-u-margin-top--3 medium-screen:vads-u-margin-top--5 medium-screen:vads-u-margin-bottom--2p5">
              Locations</h2>
            {% for main in mainFacilities.entities %}
            {% include 'src/site/includes/facilityListing.drupal.liquid' with
                    entity = main
                    fieldVaHealthConnectPhone = fieldVaHealthConnectPhone
            %}
            {% endfor %} 
            <va-link
              active
              class="vads-u-font-size--md vads-u-display--block vads-u-width--full"
              href="{{ entityUrl.path }}/locations"
              text="See all locations"
            >
            </va-link>
          </section>

          <!-- "Manage your health online" section -->
          {% comment %} Hide this section for Lovell TRICARE {% endcomment %}
          {% if fieldAdministration.entity.entityId != '1039' %}
          <section>
            {% if fieldAdministration.entity.entityId == '1040' %}
              <h2>Manage your VA health online</h2>
            {% else %}
              <h2>Manage your health online</h2>
            {% endif %}
            <div class="vads-u-display--flex medium-screen:vads-u-flex-direction--row vads-u-flex-direction--column">
              <div class="vads-u-margin-right--0 medium-screen:vads-u-margin-right--3">
                <div class="vads-facility-hub-cta vads-u-display--flex vads-u-align-items--center">
                  <va-icon
                    class="vads-u-color--link-default vads-facility-hub-cta-circle vads-u-margin-right--1"
                    size="3"
                    icon="pill"
                  ></va-icon>
                  <va-link
                    href="{{ fieldVamcEhrSystem | topTaskUrl: "refill-track-prescriptions/", buildtype }}"
                    text="Refill and track your prescriptions"
                  ></va-link>
                </div>
                <div class="vads-facility-hub-cta vads-u-display--flex vads-u-align-items--center">
                  <va-icon
                    class="vads-u-color--link-default vads-facility-hub-cta-circle vads-u-margin-right--1"
                    size="3"
                    icon="forum"
                  ></va-icon>
                  <va-link
                    href="{{ fieldVamcEhrSystem | topTaskUrl: "secure-messaging/", buildtype }}"
                    text="Send a secure message to your health care team"
                  ></va-link>
                </div>
                <div class="vads-facility-hub-cta vads-u-border-color--primary-alt-light medium-screen:vads-u-border-bottom--1px vads-u-display--flex vads-u-align-items--center">
                  <va-icon
                    class="vads-u-color--link-default vads-facility-hub-cta-circle vads-u-margin-right--1"
                    size="3"
                    icon="event_available"
                  ></va-icon>
                  <va-link
                    href="{{ fieldVamcEhrSystem | topTaskUrl: "schedule-view-va-appointments/", buildtype }}"
                    text="Schedule and manage health appointments"
                  ></va-link>
                </div>
                <div class="vads-facility-hub-cta vads-u-display--flex vads-u-align-items--center health-online-desktop-link">
                  <va-icon
                    class="vads-u-color--link-default vads-facility-hub-cta-circle vads-u-margin-right--1"
                    size="3"
                    icon="chat"
                  ></va-icon>
                  <va-link
                    href="https://mobile.va.gov/app/va-health-chat"
                    text="Download VA Health Chat"
                  ></va-link>
                </div>
              </div>
              <div>
                <div class="vads-facility-hub-cta vads-u-display--flex vads-u-align-items--center">
                  <va-icon
                    class="vads-u-color--link-default vads-facility-hub-cta-circle vads-u-margin-right--1"
                    size="3"
                    icon="note_add"
                  ></va-icon>
                  <va-link
                    href="{{ fieldVamcEhrSystem | topTaskUrl: "get-medical-records/", buildtype }}"
                    text="Download your VA medical records (Blue Button)"
                  ></va-link>
                </div>
                <div class="vads-facility-hub-cta vads-u-display--flex vads-u-align-items--center">
                  <va-icon
                    class="vads-u-color--link-default vads-facility-hub-cta-circle vads-u-margin-right--1"
                    size="3"
                    icon="assignment"
                  ></va-icon>
                  <va-link
                    href="{{ fieldVamcEhrSystem | topTaskUrl: "view-test-and-lab-results/", buildtype }}"
                    text="View your lab and test results"
                  ></va-link>
                </div>
                <div class="vads-facility-hub-cta vads-facility-hub-cta-last-line vads-u-border-top--1px vads-u-border-color--primary-alt-light vads-u-display--flex vads-u-align-items--center">
                  <va-icon
                    class="vads-u-color--link-default vads-facility-hub-cta-circle vads-u-margin-right--1"
                    size="3"
                    icon="hearing_disabled"
                  ></va-icon>
                  <va-link
                    href="/health-care/order-hearing-aid-batteries-and-accessories/"
                    text="Order hearing aid batteries and accessories"
                  ></va-link>
                </div>
                <div class="vads-facility-hub-cta vads-u-display--flex vads-u-align-items--center health-online-mobile-link">
                  <va-icon
                    class="vads-u-color--link-default vads-facility-hub-cta-circle vads-u-margin-right--1"
                    size="3"
                    icon="chat"
                  ></va-icon>
                  <va-link
                    href="https://mobile.va.gov/app/va-health-chat"
                    text="Download VA Health Chat"
                  ></va-link>
                </div>
                <div class="vads-facility-hub-cta vads-u-display--flex vads-u-align-items--center">
                  <va-icon
                    class="vads-u-color--link-default vads-facility-hub-cta-circle vads-u-margin-right--1"
                    size="3"
                    icon="phone"
                  ></va-icon>
                  <va-link
                    href="https://www.va.gov/health/connect-to-va-care/index.asp"
                    text="Connect to VA care"
                  ></va-link>
                </div>
              </div>
            </div>
          </section>
          {% endif %}


          <!-- List of links section -->
          <div class="vads-u-margin-top--5">
            {% include "src/site/paragraphs/facilities/list_of_link_teasers_facility.drupal.liquid"
                    with paragraph = fieldRelatedLinks.entity
                         regionNickname = title
            %}
          </div>

          {% assign header = "h3" %}
          <!-- Stories -->
          {% if newsStoryTeasersFeatured.entities.0.reverseFieldListingNode.entities.length %}
          {% assign featuredStories = newsStoryTeasersFeatured.entities.0.reverseFieldListingNode.entities %}
          <section>
            <h2
              class="vads-u-margin-bottom--3 medium-screen:vads-u-margin-top--5">
              Stories</h2>

            {% for story in featuredStories limit:2 %}
            {% assign node = story %}
            {% include "src/site/teasers/news_story.drupal.liquid" with node = story %}
            {% endfor %}
            <va-link
              active
              class="vads-u-font-size--md vads-u-display--block vads-u-width--full"
              href="{{ entityUrl.path }}/stories"
              text="See all stories"
            >
            </va-link>
          </section>
          {% endif %}

          <!-- Events -->
          {% if eventTeasersFeatured.entities.0.reverseFieldListingNode.entities.length %}
          <section>
            <h2
              class="vads-u-margin-top--4 vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--2p5">
              Events</h2>
              {% for event in eventTeasersFeatured.entities.0.reverseFieldListingNode.entities %}
                {% assign node = event %}
                {% include "src/site/teasers/event.drupal.liquid" %}
              {% endfor %}
            <va-link
              active
              class="vads-u-font-size--md vads-u-display--block vads-u-width--full"
              href="{{ entityUrl.path }}/events"
              text="See all events"
            >
            </va-link>
          </section>
          {% elsif eventTeasersAll.entities.0.reverseFieldListingNode.entities.length %}
          {% assign upcomingEvents = eventTeasersAll.entities.0.reverseFieldListingNode.entities %}
          {% assign sortedEvents = upcomingEvents | filterAndSortEvents %}         
          <section>
            <h2
              class="vads-u-margin-top--4 vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--2p5">
              Events</h2>
            {% for event in sortedEvents limit:1 %}
              {% assign node = event %}
              {% include "src/site/teasers/event.drupal.liquid" %}
            {% endfor %}
            <va-link
              active
              class="vads-u-font-size--md vads-u-display--block vads-u-width--full"
              href="{{ entityUrl.path }}/events"
              text="See all events"
            >
            </va-link>
          </section>
          {% endif %}
          {% include "src/site/facilities/facility_social_links.drupal.liquid" with regionNickname = title %}
          <va-back-to-top></va-back-to-top>
        </article>
            <!-- Last updated & feedback button-->
        {% include "src/site/includes/above-footer-elements.drupal.liquid" %}
      </div>
    </div>
  </main>
  {% include "src/site/includes/footer.html" %}
  {% include "src/site/includes/debug.drupal.liquid" %}
