{% include "src/site/includes/header.html" %}
<main data-template="layouts/home" id="content">

  {% include "src/site/includes/hero.html" %}

  {% include "src/site/includes/common-tasks.html" %}
  {% include "src/site/includes/blog-promo.html" %}

  <section>
    <section id="homepage-benefits">
      <div class="usa-grid usa-grid-full homepage-benefits-row">
      <h2 class="vads-u-color--gray-dark vads-u-font-family--sans usa-width-two-thirds">Learn about and apply for VA benefits and health care</h2>
      {% for hub in hubs %}
        <div class="usa-width-one-third" data-e2e="hub" data-entity-id="{{ hub.entity.entityId }}">
          <h2 class="heading-level-4"><a href="{{ hub.entity.entityUrl.path }}" onclick="recordEvent({ event: 'nav-linkslist' });"><i class="icon-small icon-heading hub-icon-{{ hub.entity.fieldTitleIcon }} hub-background-{{ hub.entity.fieldTitleIcon }} white vads-u-margin-right--0p5"></i>{{ hub.entity.fieldHomePageHubLabel }}</a></h2>
          <p class="vads-u-margin-top--0">{{ hub.entity.fieldTeaserText }}</p>
        </div>
        {% comment %} Close this row and open a new one when needed. {% endcomment %}
        {% if hub.endRow and forloop.last != true %}
        </div>
        <div class="usa-grid usa-grid-full homepage-benefits-row">
        {% endif %}
      {% endfor %}
      </div>
    </section>

  </div>

</main> <!-- end #content -->


{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
