{% include "src/site/includes/header.html" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}

<div id="content" class="interior" data-template="layouts/landing_page">
  <main>
    <div class="usa-grid usa-grid-full">
      <article class="usa-width-two-thirds">
        {% if fieldTitleIcon %}
          <div class="inline hub-main-icon vads-u-margin-right--1 vads-u-margin-bottom--1">
            {{ fieldTitleIcon | getHubIcon: '3' }}
          </div>

          <div class="inline hub-main-title">
            <h1>{{ title }}</h1>
          </div>
        {% else %}
          <h1>{{ title }}</h1>
        {% endif %}

        <div class="va-introtext">
          <p>{{ fieldIntroText }}</p>
        </div>

        {% if fieldSpokes != empty and fieldSpokes.length > 1 %}
          <va-on-this-page class="vads-u-margin-left--1 vads-u-margin-bottom--0 vads-u-padding-bottom--0"></va-on-this-page>
        {% endif %}

        {% if fieldAlert.length %}
          {% for alert in fieldAlert %}
            {% if alert.entity != empty %}
                {% include "src/site/blocks/alert.drupal.liquid" with alert = alert.entity %}
              {% endif %}
          {% endfor %}
        {% else %}
          {% if fieldAlert.entity != empty %}
            {% include "src/site/blocks/alert.drupal.liquid" with alert = fieldAlert.entity %}
          {% endif %}
        {% endif %}

        {% if fieldSpokes != empty %}
          {% for spoke in fieldSpokes %}
            <section class="usa-grid">
              <div class="va-h-ruled--stars"></div>
            </section>

            {% include "src/site/paragraphs/list_of_link_teasers.drupal.liquid" with entity = spoke.entity parentFieldName = 'field_spokes' %}
          {% endfor %}
        {% endif %}
        {% if fieldRelatedLinks != empty %}
          <section class="merger-majorlinks va-nav-linkslist va-nav-linkslist--related">
            {% include 'src/site/paragraphs/list_of_link_teasers.drupal.liquid' entity = fieldRelatedLinks.entity boldTitle = true %}
          </section>
        {% endif %}
        <!-- Last updated & feedback button -->
          {% include "src/site/includes/above-footer-elements.drupal.liquid" with
            responsiveLayout = 'desktop'
          %}
      </article>

      <div class="usa-width-one-third" id="hub-rail">
        {% if fieldPromo != empty %}
          {% include "src/site/blocks/promo.drupal.liquid" with entity = fieldPromo.entity %}
        {% endif %}

        <va-accordion bordered uswds>
          <va-accordion-item 
            class="va-accordion-item"
            level="2"
            open="true"
            header="Ask questions"
            id="{{ 'Message us' | hashReference: 60 }}"
            bordered
            uswds
          >
            <section>
              <h3 class="vads-u-font-size--h4">Message us</h3>
              <ul class="va-nav-linkslist-list social">
                <li data-widget-type="ask-va"></li>
              </ul>
            </section>

            {% if fieldSupportServices != empty %}
              <section>
                <h3 class="vads-u-font-size--h4">Call us</h3>
                <ul class="va-nav-linkslist-list social">
                  {% for supportService in fieldSupportServices %}
                    {% assign service = supportService.entity %}
                    <li>
                      {% if service.fieldPhoneNumber %}
                        <a href="{{ service.fieldLink.url.path }}" onclick="recordEvent({ 'event': 'nav-hub-rail', 'nav-path': 'Ask questions' });">
                          <span>{{ service.title }}</span><br>
                          <span>{{ service.fieldPhoneNumber }}</span>
                        </a>
                      <!-- It was requested that we hardcode in the aria-label and href for the TTY service -->
                      <!-- see: https://github.com/department-of-veterans-affairs/va.gov-team/issues/18151#issuecomment-879993959 -->
                      {% elsif service.title contains "TTY: 711" %}
                        <a
                          aria-label="TTY: 7 1 1."
                          href="tel:+1711"
                          onclick="recordEvent({ 'event': 'nav-hub-rail', 'nav-path': 'Ask questions' });"
                        >
                        <span>{{ service.title }}</span><br>
                        </a>
                      {% elsif service.fieldLink.url.path %}
                        <a
                          href="{{ service.fieldLink.url.path }}" 
                          onclick="recordEvent({ 'event': 'nav-hub-rail', 'nav-path': 'Ask questions' });"
                        >
                        <span>{{ service.title }}</span>
                        </a>
                      {% else %}
                        {{ service.title }}
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </section>
            {% endif %}
          </va-accordion-item>

          {% if fieldLinks != empty and fieldLinks.length > 0 %}
            <va-accordion-item
              class="va-accordion-item"
              level="2"
              open="true"
              header="Not a Veteran?"
              id="{{ 'Get information for' | hashReference: 60 }}"
              bordered
              uswds
            >
              <section>
                <h3 class="vads-u-font-size--h4">Get information for:</h3>
                <ul class="va-nav-linkslist-list links">
                  {% for link in fieldLinks %}
                    <li>
                      <va-link
                        disable-analytics 
                        href="{{ link.url.path }}" 
                        onclick="recordEvent({ 'event': 'nav-hub-rail', 'nav-path': 'Not a Veteran?' });" 
                        text="{{ link.title }}"
                      >
                      </va-link>
                    </li>
                  {% endfor %}
                </ul>
              </section>
            </va-accordion-item>
          {% endif %}

        <!-- Connect with us -->
        {% if fieldRelatedOffice != empty and fieldRelatedOffice.entity.fieldExternalLink.title != "Records benefits hub" %}
            <va-accordion-item
              class="va-accordion-item"
              level="2"
              header="Connect with us"
              bordered
              uswds
              open="true"
              id="{{ fieldRelatedOffice.entity.fieldExternalLink.title | hashReference: 60 }}">
              {% if fieldRelatedOffice.entity.fieldExternalLink.url.path != empty %}
                <h3 class="va-nav-linkslist-list vads-u-font-size--h4">
                  <va-link 
                  disable-analytics
                  href="{{ fieldRelatedOffice.entity.fieldExternalLink.url.path }}" 
                  onclick="recordEvent({ 'event': 'nav-hub-rail', 'nav-path': 'Connect with us' });"
                  text="{{ fieldRelatedOffice.entity.fieldExternalLink.title }}"
                  >
                  </va-link>
                </h3>
              {% endif %}

              <section>
                <h3 class="vads-u-font-size--h4">Get updates</h3>
                  <p>
                    <va-icon icon="mail" size="3" class="vads-u-color--link-default vads-u-padding-right--0p5"></va-icon>
                    <va-link 
                      disable-analytics
                      href="{{ fieldRelatedOffice.entity.fieldEmailUpdatesLink.url.path }}" 
                      onclick="recordEvent({ 'event': 'nav-hub-rail', 'nav-path': 'Connect with us' });"
                      text="{{ fieldRelatedOffice.entity.fieldEmailUpdatesLink.title }}"
                      >
                    </va-link>
                  </p>
              </section>

              <section>
                <h3 class="vads-u-font-size--h4">Follow us</h3>
                <ul class="va-nav-linkslist-list social">
                  {% assign socialLinks =  fieldRelatedOffice.entity.fieldSocialMediaLinks.platformValues | jsonToObj %}
                  {% assign socialPlatforms = socialLinks | keys %}

                  {% for socialPlatform in socialPlatforms %}
                    {% assign socialLink = socialLinks | get: socialPlatform  %}
                    {% assign platform = socialPlatform | capitalize %}
                    
                    {% if socialPlatform == "twitter" %}
                      {% assign socialIcon = "x" %}
                    {% else %}
                      {% assign socialIcon = socialPlatform %}
                    {% endif %}

                    {% if socialLink.value %}
                      <li>
                        <va-icon
                          icon="{{ socialIcon }}"
                          size="3"
                          class="vads-u-color--link-default vads-u-padding-right--0p5"></va-icon>
                        <va-link 
                          disable-analytics
                          href="{{"http://{{ socialPlatform }}.com/{{ socialLink.value }}"}}" 
                          onclick="recordEvent({ 'event': 'nav-hub-rail', 'nav-path': 'Connect with us' });" 
                          text="{{ fieldRelatedOffice.entity.fieldExternalLink.title }} {{ platform | formatSocialPlatform }}"
                        >
                        </va-link>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </section>
            </va-accordion-item>
          </va-accordion>
        {% endif %}
      </div>
    </div>
    <!-- Last updated & feedback button -->
      {% include "src/site/includes/above-footer-elements.drupal.liquid" with
        responsiveLayout = 'mobile'
      %}
  {% include "src/site/includes/veteran-banner.html" %}
  </main>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}