{% include "src/site/includes/header.html" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true %}

<div id="content" class="interior">
    <main class="va-l-detail-page va-facility-page">
        <div class="usa-grid usa-grid-full">
            {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}

            <div class="usa-width-three-fourths">
                <article class="usa-content">
                    {% include "src/site/includes/lovell-switch-link.drupal.liquid" with
                        entityUrl = entityUrl
                    %}

                    <section class="vads-u-margin-bottom--5">
                        <h1 class="vads-u-margin-bottom--2p5">{{ title }}</h1>
                        <p class="vads-u-margin-bottom--0p5">PRESS RELEASE</p>
                        <p class="vads-u-font-weight--bold vads-u-margin-bottom--3 vads-u-margin-top--0">{{ fieldReleaseDate.value | formatDate: 'MMMM D, YYYY' }}</p>
                        <div class="va-flex vads-u-flex-direction--column xsmall-screen:vads-u-flex-direction--row xsmall-screen:vads-u-align-items--center mobile:vads-u-padding-bottom--4 ">
                            <div>
                                <va-button class="vads-u-padding-bottom--2 mobile:vads-u-padding-bottom--0 vads-u-margin-right--2"
                                    onclick="window.print(); return false;"
                                    text="Print"
                                    secondary >
                                </va-button>
                            </div>
                            {% if fieldPdfVersion != empty and fieldPdfVersion.entity != empty %}
                                <va-link
                                    href="{{ fieldPdfVersion.entity.fieldDocument.entity.url }}"
                                    download
                                    filetype="PDF"
                                    text="Download press release"
                                />
                            {% endif %}
                        </div>
                        <p class="va-introtext vads-u-font-size--lg vads-u-margin-top--3">{{ fieldAddress.locality }}
                            , {{ fieldAddress.administrativeArea }} — {{ fieldIntroText }}</p>
                        <div>{{ fieldPressReleaseFulltext.processed }}</div>
                    </section>

                    {% assign anyContacts = fieldPressReleaseContact.length %}
                    {% if anyContacts > 0 %}
                        <section class="vads-u-margin-bottom--6">
                            <div class="vads-u-font-weight--bold">Media contacts</div>
                            {% for contact in fieldPressReleaseContact %}
                                {% assign c = contact.entity %}
                                {% if c != empty %}
                                    <div>
                                        <p class="vads-u-margin-top--1 vads-u-margin-bottom--0">{{ c.title }}{% if c.fieldDescription != empty %}, {{ c.fieldDescription }} {% endif %}</p>
                                        <p class="vads-u-margin-top--1 vads-u-margin-bottom--0">{{ c.fieldPhoneNumber }}</p>
                                        {% if c.fieldEmailAddress != empty %}
                                            <p class="vads-u-margin-top--1 vads-u-margin-bottom--0"><va-link
                                                        href="mailto:{{ c.fieldEmailAddress }}" text="{{ c.fieldEmailAddress }}" />
                                            </p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    {% endif %}

                    {% if fieldPressReleaseDownloads.length > 0 %}
                        <section class="vads-u-margin-bottom--6">
                            <div class="vads-u-font-weight--bold vads-u-margin-bottom--1">Download media assets</div>
                            {% for asset in fieldPressReleaseDownloads %}
                                {% assign a = asset.entity %}
                                <ul class="vads-u-margin-bottom--1 usa-unstyled-list" role="list">
                                    <li class="vads-u-margin-bottom--1">
                                        {% case a.entityBundle %}
                                        {% when 'document' %}
                                            <va-link filetype="PDF" href="{{ a.fieldDocument.entity.url }}" download text="{{ a.name }}" />
                                        {% when 'image' %}
                                            <va-link filetype="JPG" href="{{ a.image.url }}" download text="Download {{ a.name }}" />
                                        {% when 'video' %}
                                            <va-link href="{{ a.fieldMediaVideoEmbedField }}" text="{{ a.name }}" />
                                        {%  endcase %}
                                    </li>
                                </ul>
                            {% endfor %}
                        </section>
                    {% endif %}

                    <section class="vads-u-margin-bottom--6 vads-u-text-align--center">###</section>

                    <section class="vads-u-margin-bottom--3">
                        {{ fieldOffice.entity.fieldPressReleaseBlurb.processed }}
                    </section>
                    <va-link
                        active
                        href="{{ fieldListing.entity.entityUrl.path }}"
                        text="See all news releases" 
                    />
                </article>
                <!-- Last updated & feedback button-->
                  {% include "src/site/includes/above-footer-elements.drupal.liquid" %}
            </div>
        </div>
    </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
