{% comment %}
    This is used for Facility details pages and (A-Z) Health Services page
{% endcomment %}
<div data-template="facilities/facilities_health_services_buttons">
    <div>
        {% if fieldAdministration.entity.entityId == '1039' %}
            {% assign ehrSystem = fieldVamcEhrSystem | findEhr: fieldRegionPage, fieldOffice %}
            {% assign topTaskLovell = ehrSystem | topTaskLovell: path, "make-an-appointment", buildtype %}
            <a class="vads-c-action-link--blue" href="{{topTaskLovell.url}}">{{topTaskLovell.text}}</a>
        {% else %}
            <a class="vads-c-action-link--blue" href="/{{ path }}/make-an-appointment">Make an appointment</a>
        {% endif %}
    </div>
    <div class="vads-u-margin-y--2">
        <a class="vads-c-action-link--blue" href="/{{ path }}/register-for-care">Register for care</a>
    </div>
    <div>
        <a class="vads-c-action-link--blue" href="/{{ path }}/pharmacy">Pharmacy</a>
    </div>
</div>
