<section data-template="facilities/facility_social_links" class="feature vads-u-background-color--gray-lightest vads-u-margin-top--4 small-screen:vads-u-margin-top--6 vads-u-padding-x--3 vads-u-padding-y--2p5">
    <h2 class="vads-u-margin-bottom--2">Get updates from {{ regionNickname }}</h2>
    <div class="va-c-list-link-teasers usa-grid usa-grid-full">

        {% if fieldGovdeliveryIdEmerg != empty or if fieldGovdeliveryIdNews != empty %}
            <div class="usa-width-one-half">
                {% if fieldGovdeliveryIdNews != empty %}
                        <div class="vads-u-margin-bottom--2">
                            <va-icon icon="mail" size="3" class="vads-u-color--link-default vads-u-margin-right--0p5"></va-icon>
                            <va-link 
                                href="https://public.govdelivery.com/accounts/USVHA/subscriber/new?topic_id={{ fieldGovdeliveryIdNews }}"
                                rel="noreferrer"
                                text="Subscribe to {{ regionNickname }} news and announcements"
                            >
                            </va-link>
                        </div>
                {% endif %}

                {% if fieldGovdeliveryIdEmerg != empty %}
                        <div class="vads-u-margin-bottom--2">
                            <va-icon icon="mail" size="3" class="vads-u-color--link-default vads-u-margin-right--0p5"></va-icon>
                            <va-link 
                                href="https://public.govdelivery.com/accounts/USVHA/subscriber/new?topic_id={{ fieldGovdeliveryIdEmerg }}"
                                rel="noreferrer"
                                text="Subscribe to {{ regionNickname }} emergency notifications"
                            >
                            </va-link>
                        </div>

                {% endif %}
                {% if fieldOperatingStatus.url.path %}
                    <div class="vads-u-margin-bottom--2">
                        <va-icon icon="adjust" size="3" class="vads-u-color--link-default vads-u-margin-right--0p5"></va-icon>
                        <va-link 
                            href="{{ fieldOperatingStatus.url.path}}"
                            text="{{ regionNickname }} operating status"
                        >
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if fieldFacebook != empty || fieldTwitter != empty || fieldFlickr != empty || fieldInstagram != empty %}
            <div class="usa-width-one-half">
                <div class="">
                    {% if fieldFacebook != empty %}
                        <div class="social-links vads-u-margin-bottom--2">
                            <va-icon size="3" icon="facebook" class="vads-u-color--link-default vads-u-margin-right--0p5"></va-icon>
                            <va-link 
                                href="{{ fieldFacebook.uri }}"
                                rel="noreferrer"
                                text="{{ fieldFacebook.title }}"
                            >
                        </div>
                    {% endif %}

                    {% if fieldTwitter != empty %}
                        <div class="social-links vads-u-margin-bottom--2">
                            <va-icon size="3" icon="x" class="vads-u-color--link-default vads-u-margin-right--0p5"></va-icon>
                            <va-link 
                                href="{{ fieldTwitter.uri }}"
                                rel="noreferrer"
                                text="{{ fieldTwitter.title }}"
                            >
                        </div>
                    {% endif %}
                    {% if fieldFlickr != empty %}
                        <div class="social-links vads-u-margin-bottom--2">
                            <va-icon size="3" icon="flickr" class="vads-u-color--link-default vads-u-margin-right--0p5"></va-icon>
                            <va-link 
                                href="{{ fieldFlickr.uri }}"
                                rel="noreferrer"
                                text="{{ fieldFlickr.title }}"
                            >
                        </div>
                    {% endif %}

                    {% if fieldInstagram != empty %}
                        <div class="social-links vads-u-margin-bottom--2">
                            <va-icon size="3" icon="instagram" class="vads-u-color--link-default vads-u-margin-right--0p5"></va-icon>
                            <va-link 
                                href="{{ fieldInstagram.uri }}"
                                rel="noreferrer"
                                text="{{ fieldInstagram.title }}"
                            >
                        </div>
                    {% endif %}

                    {% if fieldYoutube != empty %}
                        <div class="social-links vads-u-margin-bottom--2">
                            <va-icon size="3" icon="youtube" class="vads-u-color--link-default vads-u-margin-right--0p5"></va-icon>
                            <va-link 
                                href="{{ fieldYoutube.uri }}"
                                rel="noreferrer"
                                text="{{ fieldYoutube.title }}"
                            >
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
