{% if serviceLocationAddress.fieldUseFacilityAddress and facilityAddress %}
  {% assign hasAddress = true %}
  {% assign addressData = facilityAddress %}
{% elsif location.entity.fieldServiceLocationAddress %}
  {% assign hasAddress = true %}
  {% assign addressData = location.entity.fieldServiceLocationAddress.entity.fieldAddress %}
{% endif %}

{% if serviceLocationAddress.fieldClinicName or hasAddress or serviceLocationAddress.fieldBuildingNameNumber or serviceLocationAddress.fieldWingFloorOrRoomNumber %}
<div class="vads-u-display--flex vads-u-flex-direction--column vads-u-margin-top--2">
  {% if serviceLocationAddress.fieldClinicName %}
    <h{{ serviceLocationAddressHeaderLevel }} class="vads-u-margin-top--0">
      {{ serviceLocationAddress.fieldClinicName }}
    </h{{ serviceLocationAddressHeaderLevel }}>
  {% elsif serviceLocationAddress.fieldBuildingNameNumber or serviceLocationAddress.fieldWingFloorOrRoomNumber %}
    <h{{ serviceLocationAddressHeaderLevel }}>
      Location
    </h{{ serviceLocationAddressHeaderLevel }}>
  {% endif %}

  
  {% if hasAddress %}
    {% if addressData.addressLine1 %}
      <span class="vads-u-margin-bottom--0">
        {{ addressData.addressLine1 }}
      </span>
    {% endif %}

    {% if addressData.addressLine2 %}
      <span class="vads-u-margin-bottom--0">
        {{ addressData.addressLine2 }}
      </span>
    {% endif %}

    {% if addressData.locality %}
      {% if addressData.administrativeArea%}
        {% if addressData.postalCode %}
          <span class="vads-u-margin-bottom--0">
            {{ addressData.locality }},
            {{ addressData.administrativeArea }}
            {{ addressData.postalCode }}
          </span>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %} {% comment %} hasAddress {% endcomment %}

  {% comment %}
    Always include building, wing, floor, etc.
  {% endcomment %}
  {% if serviceLocationAddress.fieldBuildingNameNumber %}
    <span class="vads-u-margin-bottom--0">
      {{ serviceLocationAddress.fieldBuildingNameNumber }}
    </span>
    {% assign marginTop = 0 %}
  {% endif %}

  {% if serviceLocationAddress.fieldWingFloorOrRoomNumber %}
    <span class="vads-u-margin-bottom--0">
      {{ serviceLocationAddress.fieldWingFloorOrRoomNumber }}
    </span>
  {% endif %}
</div>