{% assign hasAddress = false %}
{% if serviceLocationAddress.fieldUseFacilityAddress and facilityAddress %}
  {% assign addressData = facilityAddress %}
  {% assign hasAddress = true %}
{% elsif serviceLocationAddress %}
  {% assign addressData = serviceLocationAddress.fieldAddress %}
  {% assign hasAddress = true %}
{% endif %}

{% if hasAddress or serviceLocationAddress.fieldClinicName or serviceLocationAddress.fieldBuildingNameNumber or serviceLocationAddress.fieldWingFloorOrRoomNumber %}
<div class="vads-u-display--flex vads-u-flex-direction--column">
  {% if serviceLocationAddress.fieldClinicName %}
    <h{{ serviceLocationAddressHeaderLevel }}>
      {{ serviceLocationAddress.fieldClinicName }}
    </h{{ serviceLocationAddressHeaderLevel }}>
  {% elsif serviceLocationAddress.fieldBuildingNameNumber or serviceLocationAddress.fieldWingFloorOrRoomNumber %}
    <h{{ serviceLocationAddressHeaderLevel }}>
      Location
      </h{{ serviceLocationAddressHeaderLevel }}>
  {% endif %}

  
  {% if hasAddress %}
    {% if addressData.addressLine1 and serviceLocationAddress.fieldUseFacilityAddress != true %}
      <span class="vads-u-margin-bottom--0">
        {{ addressData.addressLine1 }}
      </span>
    {% endif %}

    {% if addressData.addressLine2 and serviceLocationAddress.fieldUseFacilityAddress != true %}
      <span class="vads-u-margin-bottom--0">
        {{ addressData.addressLine2 }}
      </span>
    {% endif %}

    {% if addressData.locality and serviceLocationAddress.fieldUseFacilityAddress != true %}
      {% if addressData.administrativeArea %}
        {% if addressData.postalCode %}
          <span class="vads-u-margin-bottom--0">
            {{ addressData.locality }},
            {{ addressData.administrativeArea }}
            {{ addressData.postalCode }}
          </span>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %} {% comment %} hasAddress {% endcomment %}

  {% comment %}
    Always include building, wing, floor, etc.
  {% endcomment %}
  {% if serviceLocationAddress.fieldBuildingNameNumber %}
    <span class="vads-u-margin-bottom--0">
      {{ serviceLocationAddress.fieldBuildingNameNumber }}
    </span>
    {% assign marginTop = 0 %}
  {% endif %}

  {% if serviceLocationAddress.fieldWingFloorOrRoomNumber %}
    <span class="vads-u-margin-bottom--0">
      {{ serviceLocationAddress.fieldWingFloorOrRoomNumber }}
    </span>
  {% endif %}
</div>