<div class="vads-u-display--flex vads-u-flex-direction--column">
  {% if serviceLocationAddress.fieldClinicName %}
    <h{{ serviceLocationAddressHeaderLevel }}>
      {{ serviceLocationAddress.fieldClinicName }}
    </h{{ serviceLocationAddressHeaderLevel }}>
  {% elsif serviceLocationAddress.fieldBuildingNameNumber or serviceLocationAddress.fieldWingFloorOrRoomNumber %}
    <h{{ serviceLocationAddressHeaderLevel }} class="vads-u-margin-top--0">
      Location
    </h{{ serviceLocationAddressHeaderLevel }}>
  {% endif %}

  {% comment %}
    Include street address only if fieldUseFacilityAddress is false
  {% endcomment %}
  {% if serviceLocationAddress.fieldUseFacilityAddress == false %}
    {% if serviceLocationAddress.fieldAddress.addressLine1 %}
      <span class="vads-u-margin-bottom--0">
        {{ serviceLocationAddress.fieldAddress.addressLine1 }}
      </span>
    {% endif %}

    {% if serviceLocationAddress.fieldAddress.addressLine2 %}
      <span class="vads-u-margin-bottom--0">
        {{ serviceLocationAddress.fieldAddress.addressLine2 }}
      </span>
    {% endif %}

    {% if serviceLocationAddress.fieldAddress.locality %}
      {% if serviceLocationAddress.fieldAddress.administrativeArea%}
        {% if serviceLocationAddress.fieldAddress.postalCode %}
          <span class="vads-u-margin-bottom--0">
            {{ serviceLocationAddress.fieldAddress.locality }},
            {{ serviceLocationAddress.fieldAddress.administrativeArea }}
            {{ serviceLocationAddress.fieldAddress.postalCode }}
          </span>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% comment %}
    Always include building, wing, floor, etc.
  {% endcomment %}
  {% if serviceLocationAddress.fieldBuildingNameNumber %}
    <span class="vads-u-margin-bottom--0">
      {{ serviceLocationAddress.fieldBuildingNameNumber }}
    </span>
  {% endif %}

  {% if serviceLocationAddress.fieldWingFloorOrRoomNumber %}
    <span class="vads-u-margin-bottom--0">
      {{ serviceLocationAddress.fieldWingFloorOrRoomNumber }}
    </span>
  {% endif %}
</div>
