{% comment %}
    @TODO:
    click analytics
{% endcomment %}

<div data-template="facilities/story_social_share" id="va-c-social-share" class="vads-u-margin-bottom--0p5 medium-screen:vads-u-margin-bottom--2">
    <ul class="usa-unstyled-list vads-u-display--flex" role="list">
        <li class="vads-u-margin-right--5 medium-screen:vads-u-margin-right--2p5">
                    <va-icon icon="facebook" size="3" class="vads-u-color--link-default"></va-icon>
                    <va-link class="va-js-share-link" href="https://www.facebook.com/sharer/sharer.php?href={{ hostUrl }}{{ entityUrl.path }}" text="Share on Facebook">
                    </va-link>
        </li>

        <li class="vads-u-flex--1">
            <va-icon icon="x" size="3" class="vads-u-color--link-default"></va-icon>
            <va-link class="va-js-share-link" href="https://twitter.com/intent/tweet?text={{ title }}&url={{ hostUrl }}{{ entityUrl.path }}" text="Share on X (formerly Twitter)">
            </va-link>
        </li>
    </ul>
</div>
